<template>
	<div class="section">
		<div class="notification is-danger has-grid-layout">
			<strong>Sunsetting the scaffolding riovir/vue-app-scaffolding.</strong>
			<p>
				As of 2023 March 28 the @riovir/create-vue-app scaffolding is being sunset after 7 years of mainenance.
				The main reason is that the author no longer uses it personally
				(favoring Vite + the Storybook CLI initializers as needed), while the company this content has been targeted for
				is pulling it in-house to allow integrating with internal packages.
			</p>
			<p>
				During its lifetime the main benefit of this scaffolding has been to serve as an example of how various
				frontend concerns can be addressed in a practical manner. If anyone whishes to take over this scaffolding, they
				are welcome to continue it as a fork.
			</p>
		</div>
	</div>
	<div class="page container">
		<!-- scaffolding-disable unless keepExamples -->
		<header class="header section">
			<h1 class="title">{{ title }}</h1>
			<h2 data-testid="click-count-message" class="subtitle">You clicked Bulma {{ counter }} times</h2>
			<button data-testid="toggle-language" class="button is-small is-dark" @click="toggleLanguage">Toggle locale</button>
		</header>

		<main class="main section">
			<div class="field">
				<label for="message-input" class="label">Message as a query param</label>
				<div class="control">
					<input id="message-input" v-model.lazy="messageInput" class="input">
				</div>
			</div>

			<button
				ref="theButton"
				data-testid="increment-counter"
				class="button is-primary"
				@click="incrementCounter"
			>
				<td-icon :icon="tdExample" />
				<span>Now with Bulma</span>
			</button>

			<the-message data-testid="theMessage" @dismiss="focus(theButton)" />
		</main>

		<footer class="footer section">
			The client code is aware that it's being served from the <strong>{{ publicPath }}</strong> public path.<br>
			This path is only set in a single place: <strong>package.json -> config.default_public_path</strong>
		</footer>
		<!-- scaffolding-enable -->
	</div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
/* scaffolding-disable unless keepExamples */
import { computed, onMounted, watchEffect } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import { useStore } from 'src/vue-setup';
// This is just an example local import. It's recommended to use external Font Awesome icon packs.
import { tdExample } from './example-font-awesome-icon-pack';
import TheMessage from './components/the-message.vue';

/* scaffolding-enable */
export default defineComponent({
	/* scaffolding-disable unless keepExamples */
	components: { TheMessage },
	props: {
		message: { type: String, default: '' },
	},
	setup(props) {
		const focus = async (element?: HTMLElement) => setTimeout(() => element?.focus());
		// Vue will set this once passed to an element via ref="theButton"
		const theButton = ref<HTMLElement>();

		// The Composition API allows breaking down behavior based on use cases
		// Note that each of the implementations could be pulled out to separate files
		const { counter, incrementCounter } = usePiniaExample();
		const { title, toggleLanguage } = useI18nExample();
		const { messageInput } = useRouterExample(props);

		return {
			title, toggleLanguage,
			counter, incrementCounter,
			messageInput,
			tdExample, // It's simpler to bypass the library.add and use the icon definition directly
			theButton,
			focus, publicPath: process.env.PUBLIC_PATH,
		};
	},
	/* scaffolding-enable */
});
/* scaffolding-disable unless keepExamples */

function usePiniaExample() {
	const store = useStore();

	const counter = computed(() => store.counter);
	const incrementCounter = () => store.incrementCounter();

	return { counter, incrementCounter };
}

function useI18nExample() {
	const { t, locale } = useI18n();

	const title = computed(() => t('title'));
	const toggleLanguage = () => locale.value = locale.value === 'en' ? 'zh' : 'en';

	onMounted(() => {
		// For accessibility reasons initialize document title and HTML lang
		// The title should mirror <h1> element (not necessarily to the letter)
		watchEffect(() => { document.title = title.value; });
		// The HTML lang attribute should match that of the application
		watchEffect(() => { document.documentElement.setAttribute('lang', locale.value); });
	});
	return { title, toggleLanguage };
}

function useRouterExample(props: { message: string }) {
	const store = useStore();
	const { push } = useRouter();

	const messageInput = computed({
		get: () => store.message,
		set: message => push({ query: message ? { message } : undefined }),
	});

	watchEffect(() => messageInput.value = store.message);
	watchEffect(() => store.showMessage(props.message));

	return { messageInput };
}
/* scaffolding-enable */
</script>

<!-- scaffolding-disable unless keepExamples -->
<style lang="scss" scoped>
// It's recommended to only keep layouting code in scoped Vue files and keep UI elements out of it
// This is because elements (buttons, modals, titles, etc.) tend to be reusable,
// while layouting is usually specific to the Vue component.
.page {
	display: grid;
	grid-template:
		"header" auto
		"main" 1fr
		"footer" auto
		/ 1fr;
	height: 100vh;

	.header {
		grid-area: header;
		justify-self: center;
		text-align: center;
	}
	.main {
		grid-area: main;
		justify-self: center;
		display: inline-grid;
		grid-gap: 1rem;
		align-content: flex-start;
	}
	.footer {
		grid-area: footer;
		justify-self: center;
	}
}

.has-grid-layout {
	display: grid;
	gap: 12px;
}
</style>
<!-- scaffolding-enable -->
